.card-container{
    width: 100%;
    height: 290px;
    background-color: #ffffff;
    margin-bottom: 50px;
}
.card-header{
    margin-bottom: 10px;
    /* display: none; */
}
.card-body{
    background-color: #D3145A;
    padding: 25px 0px 0px 0px;
    margin-left: 30px;
    margin-top: 12px;
    height: 210px;
    width: 215px;
}

.card-image img{
    width: 150px;
    height: 150px;
    margin: 0px 32px;
}

/* 3D card designing starts*/
/* upper and left side 3d design starts */
.card-body::before{
    content: '';
    position: absolute;
    top: 2%;
    left: 9%;
    width: 80%;
    height: 9%;
    background-color: #AF0C4F;
    overflow: hidden;
    border-radius: 5px;
    transform: skew(-44deg, 0deg);
}
.card-body::after{
    content: '';
    position: absolute;
    top: 6%;
    left: 5%;
    width: 10%;
    height: 70%;
    background-color: #E7317C;
    overflow: hidden;
    transform: skewY(-41deg);

}
/* upper and left side 3d design ends */

/* bottom and right side 3d design starts */
.card-container::before{
    content: '';
    position: absolute;
    bottom: 20%;
    left: 9%;
    width: 79%;
    height: 8%;
    background-color: #D3145A;
    overflow: hidden;
    border-radius: 2px;
    /* z-index: 1; */
    transform: skew( -44deg, 0deg);
}

.card-container::after{
    content: '';
    position: absolute;
    top: 6%;
    right: 7%;
    width: 9%;
    height: 70%;
    background-color: #EF3E90;
    overflow: hidden;
    border-radius: 4px;
    transform: rotateX(172deg) skew(0deg, 50deg);

}

/* bottom and right side 3d design ends */

/* 3D card designing ends*/